[{lager, [{colored, true},
          {handlers, [{lager_console_backend, [debug,true]}]}]},
 {kafkerl, [%{gen_server_name, kafkerl_client},
            {disabled, false},
            {conn_config, [{brokers, [{"localhost", 9090},
                                      {"localhost", 9091},
                                      {"localhost", 9092}]},
                           {client_id, kafkerl_client}, % Sent to kafka
                           {max_broker_retries, 2},
                           {broker_tcp_timeout, 1000},
                           {max_metadata_retries, -1},
                           {assume_autocreate_topics, true},
                           {metadata_tcp_timeout, 1000},
                           {max_queue_size, 20}, % In items, per topic/partition
                           {max_time_queued, 5}, % In seconds
                           {metadata_request_cooldown, 1500}, % In milliseconds
                           {consumer_min_bytes, 1},
                           {consumer_max_wait, 1500}]},
            {topics, [test1, test2, test3]},
            {tests, [{kafka_installation, "~/kafka"}]}]}].