[{lager, [{colored, true}]},
 {kafkerl, [{start,
             [{producer,
               [{name, kafkerl_producer},
                {config, [{client_id, <<"sample-producer">>}]},
                {conn_config, [{host, "localhost"}, {port, 9092}]}]},
              {consumer,
               [{name, default_consumer},
                {config, [{client_id, <<"sample-consumer">>}]},
                {conn_config, [{host, "localhost"}, {port, 9092}]}]}]}]}].