[{lager, [{colored, true}]},
 {kafkerl, [{gen_server_name, kafkerl_connection},
            {conn_config, [{brokers, [{"stag-analytics01", 9092}]},
                           {client_id, kafkerl_test_client},
                           {flush_every, 60},
                           {max_broker_retries, 2},
                           {broker_tcp_timeout, 1000},
                           {max_metadata_retries, -1},
                           {metadata_tcp_timeout, 1000}]},
            {topics, [test1, test2, test3, test4]},
            {buffer, [{max_queue_size, 1}]}]}].