[{lager, [{colored, true}]},
 {kafkerl, [{producer_options,     [{client_id, <<"sample-server">>}]},
            {producer_conn_config, [{host, "localhost"},
                                    {port, 9092}]},
            {consumer_conn_config, [{host, "localhost"},
                                    {port, 9092}]}]}].